{% extends 'base.html' %}
{% block extrahead %}
<title>Lost Soul</title>
<style>
    body {
        background: #6f1120;
        background: linear-gradient(to right, #6f1120, #e70027);
      }

      .link-muted { color: #aaa; } .link-muted:hover { color: #1266f1; }

      .pink-textarea textarea.md-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #f48fb1;
        box-shadow: 0 1px 0 0 #f48fb1;
      }
      .active-pink-textarea.md-form label.active {
        color: #f48fb1;
      }
      .active-pink-textarea.md-form textarea.md-textarea:focus:not([readonly])+label {
        color: #f48fb1;
      }
      .comment_break p {
        word-wrap: break-word;
      }
      .form-control-mod {
        height: auto;
        max-height: 200px; /* Establece aquí el valor que desees */
        resize: vertical; /* Permite redimensionar verticalmente el textarea */
      }

      .lg-comment{
        width: 100%;
      }
</style>
{% endblock extrahead %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid px-10 my-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-xl-10">
            <div class="card border-0 rounded-3 shadow-lg overflow-hidden">
                <div class="card-body p-0">
                    <div id="juego" class="canvas-container mb-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Añadir comentario-->

<!--Fin añadir comentario-->
<section>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-xl-9 mb-3">
          <div class="card bg bg-dark text-light mb-2">
            <div class="card-body p-4">
              <h4 class="mb-0">Añadir comentario</h4>
              <p class="fw-light mb-4 pb-2">¿Qué opinas?</p>
              <div class="d-flex flex-start">
                {% if user.profile.avatar %}
                <img class="rounded-circle shadow-1-strong me-3"
                  src="{{user.profile.avatar.url}}" alt="avatar" width="60"
                  height="60" />
                {% else %}
                <img class="rounded-circle shadow-1-strong me-3"
                  src="{% static '/img/non-profile.png'%}" alt="avatar" width="60"
                  height="60" />
                {% endif %}
                <div class="lg-comment">
                  <h6 class="fw-bold mb-1">{{user.profile.public_username}}</h6>
                  <form action="{% url 'game'%}" method="post"> 
                    {% csrf_token %} 
                  <div class="comment-area">                             
                    <textarea class="form-control lg-comment my-3" id="{{comment_form.body.id_for_label}}" name="{{comment_form.body.html_name}}" placeholder="Creo que LostSoul es..." rows="4"></textarea>
                    <button type="submit"  class="btn btn-danger d-flex justify-content-end">Enviar</button>
                </div>
                {% if form.errors %}
                <div class="errors">
                    <div class="alert alert-danger" role="alert">Hubo algunos errores en el formulario:</div>
                    <ul>
                        {% for field_name, field_errors in form.errors.items %}
                            {% if field_name == 'email' %}
                                {% for error in field_errors %}
                                    <li> {{ error }}</li>
                                {% endfor %}
                            {% elif field_name == 'username' %}
                                {% for error in field_errors %}
                                    <li> {{ error }}</li>
                                {% endfor %}
                            {% elif field_name == 'password1' %}
                                {% for error in field_errors %}
                                    <li> {{ error }}</li>
                                {% endfor %}
                            {% elif field_name == 'password2' %}
                                {% for error in field_errors %}
                                    <li> {{ error }}</li>
                                {% endfor %}
                            {% else %}
                            {% for error in field_errors %}
                                                <li>Error en el campo "{{ field_name }}": {{ error }}</li>
                                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}   
            
            {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}  

              </form>
              </div>
            </div>               
                </div>
                

            <hr class="my-0" />

          </div>  
      </div>
    </div>
  </div>
  </div>
  </section>

<section>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-xl-11">
{% for comment in comments_list %}
          <div class="card text-dark mb-2">
            <div class="card-body p-4">
                {% if forloop.first %}
              <h4 class="mb-0">Comentarios</h4>
              <p class="fw-light mb-4 pb-2">¡Deja tu opinión del juego aquí!</p>
                {% endif %}
              <div class="d-flex flex-start">
                <a href="{% url 'show_profile_page' comment.comment_author.id%}">
                {% if comment.comment_author.avatar %}
                <img class="rounded-circle shadow-1-strong me-3"
                  src="{{comment.comment_author.avatar.url}}" alt="avatar" width="60"
                  height="60" />
                {% else %}
                <img class="rounded-circle shadow-1-strong me-3"
                  src="{% static '/img/non-profile.png'%}" alt="avatar" width="60"
                  height="60" />
                {% endif %}
                </a>
                <div>
                  <h6 class="fw-bold mb-1">{{comment.comment_author.public_username}}</h6>
                  <div class="d-flex align-items-center mb-3 comment_break">
                    <p class="mb-0">
                      {{comment.date_added}}
                    </p>
                    
                  </div>
                  <p class="mb-0">
                    {{comment.body}}
                  </p>
                  {% if request.user.profile == comment.comment_author %}
            <form method="POST" action="{% url 'delete_comment' comment.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger my-3">Eliminar comentario</button>
            </form>
            {% endif %}
                </div>
              </div>
            </div>

            
  
            <hr class="my-0" />

          </div>  
      {% endfor %}

    </div>
</div>
</div>
</section>


{% else %}
<div class="container-fluid px-10 my-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-xl-10">
            <div class="card border-0 rounded-3 shadow-lg overflow-hidden">
                <div class="card-body p-0">
                    <div class="canvas-container mb-4">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="alert alert-danger" role="alert">
                                <h4 class="alert-heading">¡Debes iniciar sesión!</h4>
                                <p>Para poder jugar debes iniciar sesión, si no tienes una cuenta puedes registrarte
                                    <a href="{% url 'registro' %}">aquí</a>.</p>
                                <hr>
                                <p class="mb-0">Si ya tienes una cuenta puedes iniciar sesión
                                    <a href="{% url 'login' %}">aquí</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
{% block extrajs %}
{% if user.is_authenticated %}
<script type="module" src="{% static '/game/js/game.js'%}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const targetDiv = document.getElementById("juego");
        if (targetDiv) {
            targetDiv.scrollIntoView({ behavior: "smooth" });
        }
    });
</script>
{% endif %}
{% endblock extrajs %}