.nav-link{
    color: #8a918e !important;
}
.nav-link-mod:hover {
    color: #db2638 !important;
}

a {
    color: #db2638;
    text-decoration: none;
}

a:hover {
    color: #8a000e;
    text-decoration: none;
}