body {
    background: #6f1120;
    background: linear-gradient(to right, #6f1120, #e70027);
  }
  
  .bg-image {
    background-image: url('../img/main-menu-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.btn-mod{
  background-color: #ac001d;
  border: 1px solid #ac001d;
  color: white;
}
.btn-mod:hover{
  background-color: #6f1120;
  border: 1px solid #6f1120;
  color: white;
}