{% extends 'base.html' %} {% block extrahead %}
<title>Cambio de contraseña | LostSoul</title>
<style>
  body {
    background: #6f1120;
    background: linear-gradient(to right, #6f1120, #e70027);
  }
</style>
{% endblock extrahead %} {% block content %}
<section>
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                Cambio de contraseña
              </p>
              <div class="col-md-10 col-lg-8 col-xl-7 order-2 order-lg-1">
                <form method="post">
                  {% csrf_token %} {{ form.as_p }}
                  <div class="d-flex justify-content-center py-2">
                    <button class="btn btn-danger">Cambiar</button>
                    <a
                      href="{% url 'edit_profile'%}"
                      class="btn btn-danger ms-5"
                    >
                      Volver
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
