{%extends 'base.html'%}
{% load static%}
{% block extrahead %}
<title>Contacto | LostSoul</title>
<link rel="stylesheet" href="{%static '/css/contact-style.css'%}">
{% endblock extrahead %}
{%block content%}
<!-- Formulario de contacto-->
<div class="container-fluid px-10 my-5">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="card border-0 rounded-3 shadow-lg overflow-hidden">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-sm-6 d-none d-sm-block bg-image" id="contact-anim"></div>
              <div class="col-sm-6 p-4">
                <section>
                    <!--Section heading-->
                    <h2 class="h1-responsive font-weight-bold text-center my-4">¡Contáctanos!</h2>
                    <!--Section description-->
                    <p class="text-center w-responsive mx-auto mb-5">Comunícate con nostros y dejanos saber si tienes alguna queja, reclamo o sujerencia.</p>
                
                    <div class="col">
                
                        <!--Grid column-->
                        <div class="col">
                            <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                
                                <!--Grid row-->
                                <div class="row">
                
                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input type="text" id="name" name="name" class="form-control">
                                            <label for="name" class="">Nombre y Apellido</label>
                                        </div>
                                    </div>
                                    <!--Grid column-->
                
                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input type="text" id="email" name="email" class="form-control">
                                            <label for="email" class="">Correo electrónico</label>
                                        </div>
                                    </div>
                                    <!--Grid column-->
                
                                </div>
                                <!--Grid row-->
                
                                <!--Grid row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="md-form mb-0">
                                            <input type="text" id="subject" name="subject" class="form-control">
                                            <label for="subject" class="">Asunto</label>
                                        </div>
                                    </div>
                                </div>
                                <!--Grid row-->
                
                                <!--Grid row-->
                                <div class="row">
                
                                    <!--Grid column-->
                                    <div class="col-md-12">
                
                                        <div class="md-form">
                                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                            <label for="message">Tu mensaje</label>
                                        </div>
                
                                    </div>
                                </div>
                                <!--Grid row-->
                                <div class="text-center text-md-left">
                                    <a class="btn btn-mod" onclick="document.getElementById('contact-form').submit();">Enviar</a>
                                </div>
                                <div class="status"></div>
                            </div>
                            </form>
                        </div>
                        
                        <div class="row">
                        <!--Iconos-->
                        <div class="row-md-3 text-center ">
                            <ul class="list-unstyled d-flex list-inline flex-sm-column">
                                <li><i class="fab fa-twitter mt-4 fa-2x"></i>
                                    <p>@QueFlojeraThis</p>
                                </li>
                
                                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                                    <p>+ 57 313 274 7950</p>
                                </li>
                
                                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                                    <p>yeadcato@gmail.com</p>
                                </li>
                            </ul>
                        </div>
                    <!--Iconos-->
                    </div>
                </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock content%}
{% block extrajs %}
<script src="{%static '/extra-animations/contact-anim.js'%}"></script>
{% endblock extrajs %}