{%extends 'base.html'%}
{% load static%}
{% block extrahead %}
<title>Contacto | LostSoul</title>
<style>
    body {
        background: #6f1120;
        background: linear-gradient(to right, #6f1120, #e70027);
      }
      
      .bg-image {
        background-image: url('../img/main-menu-bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    
      canvas {
        position: absolute;
        width: 100%;
        height: 100%;
    }
</style>
{% endblock extrahead %}
{%block content%}
<!-- Formulario de contacto-->
<div class="container-fluid px-10 my-5">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="card border-0 rounded-3 shadow-lg overflow-hidden">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-sm-6 d-none d-sm-block bg-image" id="contact-anim"></div>
              <div class="col-sm-6 p-4">
                <section>
                    <!--Section heading-->
                    <h2 class="h1-responsive font-weight-bold text-center my-4">¡Contáctanos!</h2>
                    <!--Section description-->
                    <p class="text-center w-responsive mx-auto mb-5">Comunícate con nostros y dejanos saber si tienes alguna queja, reclamo o sujerencia.</p>
                
                    <div class="col">
                
                        <!--Grid column-->
                        <div class="col">
                            <form id="contact-form" name="contact-form" action="mailto:yeadcato@gmail.com" method="POST">
                                <!--Grid row-->
                                <div class="row">
                
                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <label for="name" class="">Nombre y Apellido</label>
                                            <input type="text" id="name" name="name" class="form-control">                                           
                                        </div>
                                    </div>
                                    <!--Grid column-->
                
                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <label for="email" class="">Correo electrónico</label>
                                            <input type="text" id="email" name="email" class="form-control">
                                        </div>
                                    </div>
                                    
                                </div>
                
                                <!--Grid row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="md-form mb-0">
                                            <label for="subject" class="">Asunto</label>
                                            <input type="text" id="subject" name="subject" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <!--Grid row-->
                
                                <!--Grid row-->
                                <div class="row">
                
                                    <!--Grid column-->
                                    <div class="col-md-12">
                
                                        <div class="md-form">
                                            <label for="message">Tu mensaje</label>
                                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>                                            
                                        </div>
                
                                    </div>
                                </div>
                                <!--Grid row-->
                                <div class="text-center text-md-left">
                                    <input type="submit" class="btn btn-danger my-4" value="Enviar">
                                </div>
                                <div class="status"></div>
                            </div>
                            </form>
                        </div>
                        
                        <div class="row">
                        <!--Iconos-->
                        <div class="row-md-3 text-center ">
                            <ul class="list-unstyled d-flex list-inline flex-sm-column">
                                <li><i class="fab fa-twitter mt-4 fa-2x"></i>
                                    <a href="https://twitter.com/QueFlojeraThis" target="_blank"><p>@LostSoul_game</p></a>
                                </li>
                
                                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                                    <a href="tel:+573132747930" target="_blank"><p>+ 57 313 274 7950</p></a>
                                </li>
                
                                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                                    <a href="mailto:yeadcato@gmail.com" target="_blank"><p>yeadcato@gmail.com</p></a>
                                </li>
                            </ul>
                        </div>
                    <!--Iconos-->
                    </div>
                </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock content%}
{% block extrajs %}
<script src="{%static '/extra-animations/contact-anim.js'%}"></script>
{% endblock extrajs %}