{% extends 'base.html' %}
{%load static%}
{% block extrahead %}
<title>Inicio | LostSoul</title>
{% endblock extrahead %}
{% block content %}
<div class="container container-mod main-page-items">
    <div class="container  mainP-item">
      <h1 class="text-center">Lost Soul, encuentra tu camino</h1>
    </div>
      <div class="container mainP-item" style="padding-left: 10%; padding-right: 10%;text-align: justify;">
          <p>Lost Soul es un juego tipo <i>"platform"</i> cuyo objetivo es no caerse, como su género lo indica, de las plataformas. Sigue la historia del protagonista
          cuyo objetivo es encontrar su camino de redención, pues carga con sigo un peso demasiado grande. Y es que sí, tal como lo indica su particular aspecto, nuestro querido amigo
          ya pasó a mejor vida, pero no puede hallar el descanso debido a que ha quedado en deuda. ¿Con quién? Con el mismísimo diablo. ¿Cómo? Pues, el diablo le ha ofrecido una segunda oportunidad para redimirse
          y volver con su familia, la cual se ha ido por su culpa. ¿Qué debe hacer? Pues, debe encontrar su camino y aprobar todas las pruebas que le sean impuestas. ¿Qué pasará si no lo hace? Pues, eso es algo
          que no podemos afirmar con seguridad, pero no debe ser nada bueno. ¿Qué pasará si lo logra? podrá volver a ver a su familia y descansar en paz. ¿Qué esperas para ayudarlo? ¡Vamos!
        </p>
      </div>
      <div class="container mainP-item-img">
        <img class="img-fluid"src="{% static '/img/main-menu-picture.png'%}" class="rounded mx-auto d-block" alt="Captura de pantalla del menú principal del juego">
      </div>
      <div class="container mainP-item">
        <h1 class="text-center">Proceso de desarrollo</h1>
      </div>
      <div class="container mainP-item-img">
        <img class="img-fluid" src="{% static '/img/phaser-logo.png'%}" class="rounded mx-auto d-block" alt="Logo de Phaser">
      </div>
      <div class="container mainP-item" style="padding-left: 10%; padding-right: 10%;text-align: justify;">
        <p>Lost Soul es un juego desarrollado en una librería para JavaScript llamada <a href="https://github.com/photonstorm/phaser">Phaser</a>. Este juego fue desarrollado por Yeison Adrian Cáceres Torres, quien se encargó de
          diseñar, programar y modelar el juego. Este juego fue desarrollado como un proyecto de la materia de <i>"Programación en la web"</i> de la Universidad Industrial de Santander
          Grand parte del material de desarrollo del juego fue diseñado también por Yeison Cáceres con herramientas como Tiled, Photoshop, Canva, entre otras. Aunque otra parte fue tomada de <a href="https://itch.io">Itch.io</a> la cual 
          es una página de web donde desarrolladores pueden subir su material de manera paga o gratuita para el uso de otros, a continuación se da crédito a los autores de los recursos tomados de esta página:
          <ul>
            <li><a href="https://anokolisa.itch.io/moon-graveyard">Moon Graveyard</a> by: <a href="https://anokolisa.itch.io">Anokolisa</a> </li>
          </ul> 
        </p>
      </div>
      <div class="container mainP-item" style="padding-left: 10%; padding-right: 10%;text-align: justify;">
          <br>
          <br>
          <br>
          Para más información, visita el repositorio del proyecto en GitHub:
          <br>
      </div>
  </div>
{% endblock content %}